
/* ------------- MAIN COLORS 

Color palette: https://coolors.co/ff00ff-00ffff-1e0032-7fff00-ffff00

*/



/* ---------- GENERAL------------ */

@import url(//db.onlinewebfonts.com/c/78355c383a5f5507a1eba592ee9f2c0a?family=Automate);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1824px;
    color: #16515e;
    font-family: Helvetica, 'Automate', 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

 /* #ff00ff6c */

h3 {
    font-family: 'Automate','Roboto Mono', sans-serif;
}

.main {
    background: linear-gradient(to bottom, #1E0032, #00FFFF);
}

/* ---------- REUSABLES------------ */

.row{
    margin: 0 auto;
}

h3 {
    font-size: 30px;
    letter-spacing: -1px;
}

.typer {
    color: #FFFF00;
}

/* ---------- TOP BANNER ------------ */

header{
    display: flex;
    flex-direction:row;
    position: fixed;
    width: 1824px;
    background-color: #1E0032;
    height: 120px;
    font-family: 'Automate', 'Roboto Mono', Helvetica, Arial;
}

.logo { 
    color: #ffffff;
    justify-content: flex-start;
    vertical-align: middle;
    line-height: 100px;
    font-family: automate;
    justify-content: space-between;
}

.logo a{
    background: url("/resources/img/jai_logo_header_no_glow.png") no-repeat;
    display: inline-block;
    padding: 100px 200px;
    font-family: automate;
    margin-left: 100px;
}

.logo a:hover, 
.logo a:active{
    background: url("/resources/img/jai_logo_header_yes_glow.png") no-repeat;
    transition: box-shadow 0.4s ease-in-out; 
}

.header-menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 60%;
    margin-right: 3%;
}

.header-menu p, a {
    letter-spacing: 1px;
    font-size: large;
    color: #FFFF00;
    margin: auto;
    text-decoration: none;
}

.header-menu a:link, 
.header-menu a:visited{
    color: #FFFF00;
    text-decoration: none;
}

.header-menu a:hover, 
.header-menu a:active{
    padding: 8px 0;
    text-decoration: none;
    border-bottom: 2px solid #00FFFF;
    transition: border-bottom 0.3s;
}


/* ---------- BODY ------------ */

.lexplore, .about, .contact, .partners {
    padding: 10% 10% 5%;
    display: flex;
    height: 700px;
}

.pictures {
    padding: 10% 10% 5%;
    display: flex;
    height: 500px;
}

/* ---------- LEXPLORE ------------ */

.lexplore{
    align-items: center;
    justify-content: space-around;
}

.lexplore-box__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.lexplore-box__left h3{  
    margin: 0;
    color: #FFFF00;
}

.lexplore-box__left p{  
    margin-top: 2%;
    line-height: 150%;
    font-family: Helvetica, Arial, sans-serif;
    color: #1E0032;
    font-size: 25px;
}

.lexplore-box__right{
    display: flex;
    flex-direction: row;
    line-height: normal;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 10%;
}


.lexplore-box__right a{
    background: url("/resources/img/lexplore_h200_no_glow.png") no-repeat;
    display: inline-block;
    padding: 100px 200px;
    /*box-shadow: 0 20px 80px 10px rgb(19, 19, 17);*/
    font-family: automate;
}

.lexplore-box__right a:hover, 
.lexplore-box__right a:active{
    background: url("/resources/img/lexplore_h200_yes_glow.png") no-repeat;
    /*box-shadow: 0 20px 80px 10px rgb(19, 19, 17); */
    transition: box-shadow 0.4s ease-in-out; 
}


/* ---------- ABOUT ------------ */

.about{
    justify-content: left;
}

.about-box__left{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-content: space-between;
}

.about-box__left h3{
    align-items: flex-start;
    margin-bottom: 50%;
    color: #FFFF00;
}

.logo2{
    display: block;
    margin: 0px auto 3px 0px;
}

.about-box__right{
    flex-direction: row;
    width: 80%;
}

.about-box__right p, li{
    color: #ffffff;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 150%;
}

/* ---------- CONTACT ------------ */

.contact{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.contact h3{
    color: #FFFF00;
    display: block;
    margin-top: 5%;
}

.contact-div {
    margin-top: 3%;
}

.contact img {
    display: block;
}

.addresse{
    color: #ffffff;
    font-size: 20px;
}

.contact-img tr td{
    padding: 10px 10px 20px 20px;
    vertical-align: middle;
}

.contact-link {
    display: block;
    color: #ffffff;
}

.contact-link:hover,
.contac-link:active {
    display: block;
    color: #FFFF00;
}

/* ---------- PICTURES ------------ */

.pictures {
    padding-top: 200px;
    align-items: stretch;
    justify-content: space-between;
}

.pic-history {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 80%;
}

.pic-history li {
    display: block;
    float: left;
    margin-left: 1%;
}

.pic-history li figure figcaption {
    color: #1E0032;
    font-size: 15px;
    font-style: italic;
}


/* ---------- NETWORK ------------ */

.network{
    padding: 10% 10% 5%;
    display: flex;
    height: 1000px;
    width: 1000px;
}

.shiny h3{
    color: #FFFF00;
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* ---------- PARTNERS ------------ */

.partners{
    display: flex;
    flex-direction: column;
}

.partners h3{
    color: #FFFF00;
    display: block;
    margin-top: 10%;
    margin-bottom: -5%;
}

.partners-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-between;
}

.rettsdata{
    margin-top: 38px;
}

.innovasjonnorge{
    margin-bottom: 5px;
}

.partners-box figure h3 {
    margin-bottom: 5%;
}

.partners-box figure p {
    font-size: 20px;
}

/* ---------- FOOTER ------------ */

.foot{
    height: 100px;
    display: flex;
    padding: 5%;
    background-color: #1E0032;
}

.foot img {
    display: block;
    justify-self: center;
    align-self: center;
    margin-right: 3%;
}

.foot p {
    display: block;
    justify-self: center;
    align-self: center;
    color: #00FFFF;
}


/* ---------- EMAIL POPUP ------------ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
label{
    font-size: 18px;
}

.inputBox{
    height: 50px;
    width: 500px;
    font-size: 16px;
}

  /* Modal Content */
  .modal-content {
    color: #ffff00;
    background-color: #1e0032;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }